:root {
    --root: #f1f5fa;

    --text-alter: #fff;
    --text-alter-1: #ddd;
    --text-alter-2: #bbb;

    --text: #000;
    --text-1: #222;
    --text-2: #444;
  
    --success: #4cd964;
    --warning: #f1c205;
    --danger: #bb0000;
    --info: #1eb8eb;
}

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    color: var(--text);
    background-color:#fff;
    cursor: default;
    font-family: Roboto, -apple-system, BlinkMacSystemFont, 'Helvetica Neue', 'Oxygen',
      'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

#background {
    position:fixed;
    top:0;
    left:0;
    width:100%;
    height:100vh;
    z-index:-100;
    background: linear-gradient(135deg, #12c2e9 15%, #c471ed 65%, #f64f59 90%);
}

#scoreboard {
    display:flex;
    width:100%;
    min-height:100vh;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color:rgba(0,0,0,.225);
    padding:30px 5%;
    min-height: 100vh;
}

.card-wrapper {
    display:block;
    flex-direction: column;
    justify-content: flex-start;
    align-items:center;
    width:100%;
}

.card {
    background-color:#fff;
    padding: 15px;
    display:flex;
    height:180px;
    flex-direction: column;
    justify-content: center;
    align-content: flex-start;
    box-shadow: 0 3px 3px rgba(0,0,0,.375);
    border-radius: 5px;
    margin: 15px 20px;
    width:calc(25% - 40px);
    animation: fade-in 0.375s ease-out 0s 1;
    float:left;
}

.card::after {
    content:"";
    clear:both;
    display:table;
}

@keyframes fade-in {
    from {opacity:0;margin-top:25px;}
}

.card > h1 {
    font-size: 64px;
    color:#000;
    margin:10px 0 6px 0;
    width:100%;
    padding: 0;
    text-align: center;
    overflow-x:auto;
    overflow-y:hidden;
}

.card > h6 {
    font-size: 16px;
    color:#777;
    width:100%;
    text-align: right;
    font-weight: normal;
    padding-right: 5px;
    padding-bottom: 5px;
    margin:0;
}

.card > p {
    font-size: 18px;
    border-top:1.5px solid #ddd;
    color:#777;
    font-weight: bold;
    margin:0;
    padding-top:8px;
    word-break: break-all;
}

@media screen and (max-width: 767.9px){
    .card-wrapper {
        display:flex;
        flex-direction: column;
    }
    #scoreboard { padding:30px 30px;}
    .card {
        width:100%;
    }
}